{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="{% static '/css/style.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{alliance}}</title>

</head>
<body style="background-color: {{alliance.back_c}}; color: {{alliance.font_c}}">
    <font size="7"><b><u>{{alliance}}</u></b></font><br>
    <main>
        <a>{{alliance.info}}</a><br>
        <font size="5"><i>Ключевые участники:</i></font><br>
        <div style="font-size: 20px; font-weight: bold">
            {% for country in countries %}
            <li><a href="{% url 'country_info' country.id%}" style="color: {{alliance.font_c}}">{{ country.name }}</a></li>
            {% endfor %}
        </div>
    </main>
    <div class=nav>
        <a href="{% url 'main' %}" style="color: {{alliance.font_c}}; text-align: right">>на главную<</a>
    </div>
</body>
</html>
